@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "poppins", sans-serif ;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    margin: auto;
    background-color: rgb(68, 18, 18);
}


.calculadora{
    width: 26vw;
    height: 58vh;
    /* border: 1px solid red; */
    position: absolute;
    top: 25vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    background-color: black;
    gap: 15px;
    border-radius: 10px;
}

#resultado {
width: 24.5vw;
height: 9vh;
border: none;
display: flex;
justify-content: end;
color: black;
padding-top: 5%;
padding-right: 5%;
background-color: whitesmoke;
border-radius: 8px;
font-weight: 600;
}

.numeros{
    display: grid;
    grid-template-columns: repeat(4, 6vw) ;
    grid-template-rows: repeat(5, 8vh);
    flex-flow: row-reverse;
    gap: 0.19rem;

}

button{
    border-radius: 8px;
    border: none;
    font-weight: 650;
    font-size: 15px;
    background-color: rgb(40, 40, 40);
    color: white;
}

button:hover{
    background-color: transparent;
}

.orange{
    color: rgb(255, 136, 0);
} 

/* .orange:hover{
    background-color: rgb(255, 189, 65);
}  */

#equal{
    grid-row: 4/6 ;
    grid-column: 4/5 ;
}

#zero{
    grid-column: 1/3
}

.reload{
    cursor:pointer;
    color: rgb(255, 136, 0);;
}
